* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.link-section {
  background-color: #f4f4f4;
  width: 70%;
  padding: 2rem;
}

.headline {
  color: #ff289a;
  margin-bottom: 2rem;
}
.link-overview {
  list-style-type: none;
}

.link-item {
  margin: 1rem 0;
}

.link-item::before {
  content: "+";
  margin-right: 0.5rem;
}

.tag {
  color: #4d4545;
}

.new-tab::after {
  content: "Opens in a new tab";
  font-size: 14px;
  color: #9b9999;
  margin-left: 10px;
  display: inline-block;
  text-decoration: none;
}
